
@media screen and (max-width:980px) {
    main .tab_list{
        flex-direction: column;
    }

    main .tab_list a{
        display: block;
        width: 100%;
        font-size: 18px!important;
        padding: 20px 0px!important;
        border-radius: 0px!important;
        text-indent: 2em;
    }

    main .item{
        overflow: hidden;
        box-sizing: border-box;
    }

    main .item .content{
        flex-direction: column;
    }

    main .item .content .img_box{
        width: unset!important;
        height: unset!important;
        margin: 0px;
    }
    main .item .content .img_box img{
        width: 100%;
        height: 100%;
    }

    main .item:nth-child(4) .content .row{
        margin-top: 150px;
    }
}

@media screen and (max-width:600px) {
    header .top{
        font-size: 20px;
    }
}

#t1{
    color:#4a5b91;
    transition:1s;
    background-color:#9ec2f0;
    //background-color:#ffedf8;
}

#t1:hover{
    //color:#65abc2;
    color:#e683ae;
    font-size:25px;
}

#t2{
    color:#4a5b91;
    transition:1s;
    background-color:#bac4e6;
    //background-color:#ffedf8;
}

#t2:hover{
    //color:#65abc2;
    color:id= #e683ae;
    font-size:25px;
}

#t3{
    color:#4a5b91;
    transition:1s;
    background-color:#d9c8de;
    //background-color:#ffedf8;
}

#t3:hover{
    //color:#65abc2;
    color:id= #e683ae;
    font-size:25px;
}

#t4{
    color:#4a5b91;
    transition:1s;
    background-color:#ebbcbc;
    //background-color:#ffedf8;
}

#t4:hover{
    //color:#65abc2;
    color:#e683ae;
    font-size:25px;
}

main{
    overflow: hidden;
}

main .item{
    display: none;
}

main .item .img_box{
    position: relative;
    width: 400px;
    height: 450px;
    min-width: 400px;
    margin: 20px 50px 0px 0px;
    border-radius:10px;
    overflow: hidden;
}

main .item .img_box img{
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

main .item .img_box img:hover{
    transform: scale(1.05);
}
main .item .two{
    overflow: unset;
}
main .item .two::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url(../images/i2.png) no-repeat center;
    background-size: cover;
    left: 0;
    top: 0;
    transform: translateX(130px) translateY(130px);
}


main .item .content{
    display: flex;
}

main .item .content .row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main .item p{
    display: block;
    margin: 15px 0px;
    font-size: 16px;
    line-height: 1.8;
    word-break: break-all;
    font-size: 24px;
    color: #313131;
}


main .tab_list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

main .tab_list a{
    display: inline-block;
    padding:10px 20px;
    box-sizing: border-box;
    font-size: 22px;
    background: #ccc;
    color: #000;
    border-radius:8px;
    margin: 0px 20px;
}
