body {
  margin: 0;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

#frame {
  width: 1260px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-shrink: 0;
  justify-content: space-evenly;
}

canvas {
  width: 600px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.482);
}

@media only screen and (prefers-color-scheme: dark) {
  body {background-color: rgb(141, 158, 219);}
}
